*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f0f2f5;
}
#h{
	font-family:  Helvetica, Arial, sans-serif;
	font-weight: 300;

	font-size: 28px;
	line-height: 32px;

}
.fblogo img{
	width: 348px;
}
.main{
	display: flex;
	margin-left: auto;
	margin-right: auto;

	max-width: 980px;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 120px;


}
.formcontainer{
	width: 396px;
	display: flex;
	padding-bottom: 200px;
}


.logincontainer{
	border-radius: 5px;
	width: 394px;
	margin-left: auto;
	margin-right: auto;
	box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
	border-radius: 8px;
	background-color: white;
	padding-bottom: 20px;

}
.headd{
	margin-left: 10px;


}
.contentandlogo{
	padding-bottom: 20px;
	display: flex;
	align-items: firstbaseline;
	flex-direction: column;
	max-width: 559px;
}

.inputt input{
	padding:12px 12px;
	width: 100%;
	border: none;
	border-radius: 4px;
	height: 3rem;
	font-size: 17px;
	color: #1d2129;
	line-height: 16px;
	box-shadow: rgb(231, 234, 255) 0px 0px 0px 2px;
	border: solid 1px #1877f2;
	outline: none;

}
.inputt input[type="text"]:focus{
	outline:1px solid #1877f2;
}
.inputt input[type="password"]:focus{
	outline:1px solid #1877f2;
}
.inputt input[type="submit"]{
	font-family:  Helvetica, Arial, sans-serif;
	font-size:20px;
	background-color: #1877f2;
	color: #ffffff;
	border-radius: 6px;
	line-height: 16px;

}
.inputt{
	margin-top: 18px;

	width: 364px;
	margin-left: auto;
	margin-right: auto;
	
}
 .footer {
    width: 100%;
    height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }

@media screen and (max-width: 375px){
	.logincontainer{
		width: 373px;
	}
	.main{
	
	margin-top: 50px;


}

	
	
}

@media screen and (max-width:954px){
	h2{
		text-align: center;
		font-size: 18px;
		line-height: 28px;
	}
	.contentandlogo{
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 18px;

}
.logincontainer{
	padding-bottom: 100px;

}

.fblogo img{
	max-width: 250px;
	width: 100%;

}
.headd{
		margin:0;
	}

input{
	font-size: 20px !important;
}
	
}
